:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #0c284f;
  --color-black: #2d2d2d;

  /* Fonts */
  --font-roboto: "Roboto";
}
