:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #172d4c;
  --color-bg: #1e4984;
  --color-black: #2d2d2d;
  --color-button: #3b7ab1;
  --color-button-hover: #0c3a5f;

  /* Fonts */
  --font-roboto: "Roboto";
}
