:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #102b48;
  --color-dark: #172d4c;
  --color-bg: #12315b;
  --color-black: #2d2d2d;
  --color-button: #366793;
  --color-button-hover: #0c3a5f;

  /* Fonts */
  --font-roboto: "Roboto";
}
